# 编译输出
build/
bin/
*.class

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.log
*.tmp
*.bak

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/